
{%extends "base.html"%}
{%block content%}
    Столь же несостоятельной является всячески пропагандировавшаяся в эпоху Ивана Грозного версия о тождественности названий Тмутаракань и Азторокань, 
    которая появилась в угоду политическим интересам с целью обосновать притязания Москвы на старинные русские тмутараканские земли[12]. 
    Повторно эта версия появилась в любительских работах астраханского краеведа М. 
    Кононенко уже в 1990-х годах (Кононенко объяснял название «Аз-торок-кань» как «грань (конец) первой засеки»),[13] но она не выдерживает никакой критики, 
    поскольку автор для обоснования выдумал некое Азтороканское княжество или царство, 
    существовавшее ещё до прихода монголов в Поволжье и в Подонье («Царство до Дона»)[14].
{%endblock%}