{%extends "base.html"%}
{%block content%}
    Название Лондона восходит к названию города римского времени «Лондиниум» (лат. Londinium), происхождение которого неясно. 
    Считается, что оно является доримским, заимствованным в тех местах, где и поныне стоит Лондон. Первое, эпиграфическое, 
    его упоминание относится ко времени около 70 года (лат. Londinio «в Лондиниум»)[8][9]. 
    Полвека спустя название города — «Лондиниум» (лат. Londinium) встречается у Тацита, 
    около середины II века — у Птолемея (др.-греч. Λονδίνιον «Лондинион»)[10][11]. Незадолго до ухода с острова, около 368 года, 
    римляне переименовали город в Авгу́сту. В документах VII—IX веков поселение неподалёку от прежнего Лондиниума обозначено как Лунденвик 
    (др.-англ. Lundenwic). На серебряных монетах первой половины VIII века присутствуют надписи de Lundonia. 
    В конце IX столетия саксы восстановили прежний римский город, называвшийся теперь Лунденбурхом (др.-англ. Lundenburh)[12].
    Исторически первым, кто попытался объяснить происхождение названия Лондона, был Гальфрид Монмутский, 
    который связывал его с легендарным королём по имени Луд[en]. 
    В настоящее время насчитывается по меньшей мере два десятка различных интерпретаций названия столицы Британии[13]. 
    В большинстве из них оно рассматривается как состоящее из двух корней, второй из которых чаще всего объясняется 
    как «город» либо «крепость», первый же едва ли не во всех случаях разный. На территории Лондона, однако, не найдено 
    следов сколько-нибудь заметных поселений доримского времени. Это значит, что в исходной своей форме название его, скорее всего, 
    представляло собой название какого-либо урочища.
    То, что остров Великобритания «большей частью является равниной, поросшей лесом», отмечал ещё Страбон[14].
    В VI—VII веках в миле западнее Лондиниума саксы основали город Лунденвик (др.-англ. wīc «селение, город»), ставший столицей Восточносаксонского королевства[прим. 1]. 
    После принятия королём Эссекса Сабертом христианства в 604 году в черте Лондиниума разместилась кафедра первого епископа восточных саксов Меллита и был заложен собор Святого Павла. 
    В VIII веке эти территории перешли под власть королевства Мерсии. В 842 и 851 годах Лунденвик подвергся нападениям викингов. В 871 году 
    в Лондинии зимовала «великая языческая армия» викингов, завоевавшая половину Англии, и до 886 года эти места оставались в руках датчан.
    В 886 году Лунденвик отошёл к западносаксонскому королю Альфреду Великому, который перенёс это поселение в Лондиний, 
    теперь — Лунденбурх. С 1013 по 1042 год последний вновь находился под властью датчан. Вскоре англосаксонский король Эдуард 
    Исповедник перенёс свою резиденцию в западный пригород Лунденбурха на остров Торни, ныне район Вестминстер (от англ. west «запад» и 
    minster «монастырская церковь»), где восстановил старое аббатство и основал королевский дворец[19]. Таким образом, Лондон разделился на 
    ве основных части: собственно город — Сити, со временем превратившийся в деловой район Лондона, и Вестминстер — место пребывания короля, 
    а позднее — парламента.
{%endblock%}