{%extends "base.html"%}
{%block content%}
    В 1605 году в Москву вступили войска самозваного царя Лжедмитрия I. 
    Власть самозванца в городе пала в 1606 году, в ходе народного восстания он был убит жителями Москвы. 
    С 1608 по 1610 год в правление нового выбранного царя Василия Шуйского Москва находится в осаде войск второго самозванца Лжедмитрия II, 
    обосновавшегося лагерем в Тушине. В этот период сообщение Москвы с остальной частью государства было затруднено. 
    Осада была снята подходом к Москве со стороны Новгорода, в марте 1610 года, войск Михаила Скопина-Шуйского со шведскими наёмниками.
{%endblock%}